/* Container Section*/
.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  height: 100%;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.col-1 {
  width: 8%;
}
.col-2 {
  width: 16%;
}
.col-3 {
  width: 24%;
}
.col-4 {
  width: 32%;
}
.col-5 {
  width: 40%;
}
.col-6 {
  width: 48%;
}
.col-7 {
  width: 56%;
}
.col-8 {
  width: 64%;
}
.col-9 {
  width: 72%;
}
.col-10 {
  width: 80%;
}
.col-11 {
  width: 88%;
}
.col-12 {
  width: 96%;
}

body {
  height: 97vh;
  background-image: url("../images/portfolio-images/bodybackground.png");
  background-size: cover;
}

aside,
main {
  height: 100%; /* aside, main heights are 100% of row height2 */
  margin: 0 10px;
}

/* Header Section*/

.row1 {
  height: 10%; /* height is 10% of body height (97vh) */
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

h1 {
  font-size: 5rem;
  font-family: 'Creepster', cursive;
  color: green;
  text-shadow: 3px 2px yellowgreen;
  margin: 0;
  text-align: center;
  letter-spacing: 4px;
}

p {
  color: white;
  font-family: "Bangers", cursive;
  font-size: 1.2rem;
  margin: 0;
  letter-spacing: 0.5rem;
}

/* Stats + Cards */
.row2 {
  height: 90%;
  justify-content: center;
  margin: auto;
}

/* Stats Section*/

.info {
  height: calc(50%/7);
  width: 80%;
  margin: 5% auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  border: 3px solid green;
  padding: 1px;
}

.number {
  border-color: transparent;
  color: white;
  text-shadow: 4px 4px black;
}


.stats {
  width: 100%;
  border-radius: 0;
  border-width: 5px;
  background-color: transparent;
  border: none;
}

.sun {
  width: 100%;
  margin-top: 15%;
}

.sun-img {
  width: 100%;
  transform: scaleX(-1);
  border-radius: 15%;
}

#games-played-number,
#attempts-number,
#accuracy-number {
  background-image: url("../images/portfolio-images/rick-and-morty-portal-button.gif");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}

h2 {
  font-family: 'Bangers', cursive;
}

.info > h2 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 2rem;
}

.stats > h2 {
  font-family: 'Creepster', cursive;
  font-size: 3rem;
  color: green;
  text-shadow: 3px 2px yellowgreen;
  letter-spacing: 4px;
}

/* Card Section*/
main {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: calc(80%/3);
  flex-basis: calc(93%/6);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 3% 0.5% 0;
  position: relative;
}

/* Background Images */

.background-rick {
  width: 10%;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  z-index: -1;
}

/* Laptop Responsiveness */
@media (min-width: 1025px) and (max-width: 1800px) {
    .row2 {
      width: 80%;
    }
     .info > h2 {
      font-size: 1.5rem;
    }
    .stats > h2 {
      font-size: 2.5rem;
    }
  }


/* Mobile Responsiveness */

/* ----------- iPad ----------- */


/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    h1 {
      font-size: 3.5rem;
    }
    .row2 {
      width: 85%;
    }
     .info {
      height: calc(80%/7);
    }
    .card {
      height: calc(95%/6);
      flex-basis: calc(94%/3);
      background-size: 100%;
      background-repeat: no-repeat;
      margin: 0 0.5%;
      position: relative;
    }
    .info > h2 {
      font-size: 1.5rem;
    }
  }

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    .row2 {
      width: 85%;
    }
     .info {
      height: calc(60%/7);
      padding: 0 5px;
    }
    .row1 {
      padding: 10px 0;
    }
}


/* ---- iPhone 6, 6s, 7, 8, 10 ---- */


/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .row2 {
      width: 90%;
    }
    h1 {
      font-size: 1.5rem;
    }
    .info > h2 {
      font-size: 0.8rem;
    }

    .sun {
      padding: 0 3px;
    }
    .info {
      height: calc(80%/7);
      padding: 0 3px;
    }
    .number {
      text-shadow: 2px 2px black;
    }
    .stats {
      background-color: transparent;
    }

    .card {
      height: calc(95%/6);
      flex-basis: calc(94%/3);
      background-size: 100%;
      background-repeat: no-repeat;
      margin: 0.5% ;
      position: relative;
    }

    p {
      font-size: 0.7rem;
      letter-spacing: 1px;
      margin-top: 4px;
    }
  }

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .row2 {
      width: 80%;
      margin-right: 10%;
    }
    h1 {
      font-size: 2rem;
    }
    .info > h2 {
      font-size: 0.8rem;
    }
    .number {
      text-shadow: 2px 2px black;
    }
    .info {
      height: calc(45%/7);
    }
    .stats > h2{
      text-shadow: 2px 1px yellowgreen;
    }
    p {
      font-size: 0.7rem;
      letter-spacing: 1px;
      margin-top: 4px;
    }
  }


/* iPhone 10 Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    h1 {
      font-size: 1.5rem;
      }
    .info > h2 {
      font-size: 0.9rem;
    }
    .row1 {
      height: 10%;
      padding-top: 0;
    }
    .row2 {
      height: 90%;
      width: 80%;
    }
    aside {
      margin-top: 0;
    }
    .info {
      height: calc(50%/8);
    }
    .number {
      text-shadow: 2px 2px black;
    }
    .card {
      margin: 1.5% 0.5% 0;
    }
    p {
      font-size: 0.7rem;
      letter-spacing: 1px;
      margin-top: 4px;
    }
    .sun {
      margin-top: 6%;
    }
  }
