.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back {
  background-image: url("../images/portfolio-images/rick-and-morty-portal-button.gif");
  background-color: black;
}
.rick-face {
  background-image: url("../images/portfolio-images/rick-face.jpeg");
}
.morty-face {
  background-image: url("../images/portfolio-images/morty-face.jpeg");
}
.summer-face {
  background-image: url("../images/portfolio-images/summer-face.jpg");
  background-position: top;
}
.beth-face {
  background-image: url("../images/portfolio-images/beth-face.png");
  background-position: top;
}
.jerry-face {
  background-image: url("../images/portfolio-images/jerry-face.jpg");
  background-position: top;
}
.meeseek-face {
  background-image: url("../images/portfolio-images/meeseeks-face.png");
}
.poopybutthole-face {
  background-image: url("../images/portfolio-images/mrpoopybutthole-face.jpg");
}
.snuffles-face {
  background-image: url("../images/portfolio-images/snuffles-face.jpg");
}
.birdperson-face {
  background-image: url("../images/portfolio-images/birdperson-face.jpg")
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
}

.modal-content {
  background-color: #ddfb63;
  position: absolute;
  text-align: center;
  padding: 5% 5%;
  border: 10px solid black;
}

button {
  background-color: white;
  width: 40%;
  font-size: 2rem;
  border-radius: 10px;
  border-width: 5px;
  font-family: 'Bangers', cursive;
  border: 4px solid green;
  padding: 5px;
  position: relative;
  top: 25px;
}

.clicked-border {
  border: 1px solid white;
}

.hidden {
  display: none;
}
